
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 50%;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 8px;
  align-items: center;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: end;
  font-weight: lighter;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.25rem;
  height: 60px;
  color: var(--Neon-Green);
}

.card-body {
  flex: 1;
  font-size: 28px;
  padding: 10px;
  min-height: 55%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Light-Cyan);
}
.card-footer {
  height: 50px;
}

.divider {
  width: 70%;
}

.button img {
  height: 20px;
  transition: transform 0.7s ease-in-out;
}

.button:hover {
  box-shadow: 0 1px 25px var(--Neon-Green);
  transform: rotate(50deg);
  transition: transform 0.7s ease-in-out;
}

/* .button:active {
  transform: rotate(360deg);
  transition: transform 0.7s ease-in-out;
} */

.button.clicked {
  animation: spin 0.7s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  border: none;
  padding: 5px;
  width: 50px;
  background-color: var(--Neon-Green);
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
  position: relative;
  bottom: 25px;
}
@media screen and (max-width: 800px) {
    .card {
    width: 90%;
    min-height: auto;
  }
}