.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 8px;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: end;
  font-weight: lighter;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.25rem;
  height: 60px;
  color: var(--Neon-Green);
}

.card-body {
  font-size: 28px;
  padding: 10px;
  min-height: 55%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Light-Cyan);
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card button {
  cursor: pointer;
  margin-top: 275px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  border: none;
  padding: 10px;
  width: 50px;
  background-color: var(--Neon-Green);
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
}

.divider {
  width: 90%;
}

.card button img {
  height: 20px;
  transition: transform 0.7s ease-in-out;
}

.card button:hover {
  box-shadow: 0 1px 25px var(--Neon-Green);
  transform: rotate(50deg);
  transition: transform 0.7s ease-in-out;
}

.card button:active {
  transform: rotate(360deg);
  transition: transform 0.7s ease-in-out;
}
